@{
    ViewBag.Title = "About";
}

<div id="aboutMe">
    <h1>About ME!</h1>
</div>
<hr />
<br />
<div class="container col-md-12 AboutMePicture1">
    <img src="~/Content/Assets/Project_picture_Beauty.jpg" />
</div>
<div class="col-md-12 AboutMe">
    <br />
    <br />

    <p>
        Hi, I'm Sarah Spriggs. Welcome to my FIRST EVER Webapp and Meal tracker!
        I am SUPER EXCITED to have built this, even with it's flaws. My goal is to inspire
        people to embrace a healthy diet through Meal Prepping and Meal Tracking.
    </p>
    <br />
    <br />
    <h2> Small Snippet of my life</h2>
    <p>
        I began my Meal planning journey shortly after I joined the United States Army in 2005. I always
        enjoyed running/swimming/biking and I needed to find a way to incorporate healthy foods in my diet. I
        had a tendency to not eat enough and was always low on energy. This is why I began prepping my meals and tracking them, to ensure
        I was getting the correct nutrients. 
        <br />
        <br />
        At the time, I was involved in an INTENSIVE Army ROTC Ranger program (women were allowed to participate
        on a Ranger Team, but not be a Ranger) and I was constantly pushing my body to the EXTREME. For Example, I completed 31 Mile Rucksack Runs (with a
        ruck that weighed approx. 50 lbs) and  3 day sleep deprivation courses, where we were dropped off in the woods at midnight,
        then completed a navigation course, followed by an obstacle course, followed by a leadership course and the whole thing ended with a 8 mile
        ruck sack run. SO, YES, I needed the food and I needed the PROPER nutrients.
    </p>
    <img src="~/Content/Assets/MilitaryPhotoForPortfolio.jpg" />
    <br />
    <br />
    <p>In 2009, I gave birth to my first child and then my second in 2010 and my 3rd child in 2014 AND I nursed all three of my children (which definitely requires healthy eating
    to maintain milk production and energy). AND in 2012, I attempted to be a surrogate for a lovely couple in Sweden. 
    <br />
    <br />
    After the end of my Military contract in 2013, I stayed home to raise my 3 chilren. </p>
    <h2>My Current Life</h2>
    <br />
    <p>
        After staying home for most of my children's lives, I decided to take on a new challenge and attend Eleven Fifty Academy. 
        Which is a school that teaches people to code and prepares them for careers in Software Development in just 12 WEEKS! 
        <br />
        <br />
        While I am still attending, I noticed how people who sit a ton during the day have the habit of also snacking on junk food ALL DAY. 
        And again, I have always had a passion for meal prepping and healthy eating, and I thought I could transition this over to helping others 
        have the same passion. 
        <br />
        <br />
        That is when I created this webapp! 
    </p>
    <h2>My Goals</h2>
    <br />
    <p>
        My goals are to finish Eleven Fifty Academy and find a rewarding career as a Software Developer. I hope I can one day work more on this Webapp, so it can 
        reach many people around the world.
        <br />
        <br />
        Thanks for visiting my site! I really hope this encourages you too lead a healthy lifestyle and maybe you can use my Meal Tracker?
    </p>
</div>


