@{
    ViewBag.Title = "Contact";
}
<div class=" container ContactPage">
    <h2>@ViewBag.Title.</h2>
</div>



<address>
    <strong>Support:</strong>   <a href="sarah.spriggs01@gmail.com">Sarah's Email</a>
</address>