@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron Title">
    <h1>Meal Tracking</h1>

</div>

<div class=" row front-page">
    <div class="container col-md-4 cover">
        <h2>Getting started with Meal Tracking</h2>

        <h2>What is Meal Prepping?</h2>
        <br />
        <p>
            Meal Prepping is the simple act of planning your meals ahead of time, then prepping the food (making the recipes) for the week ahead.
            Many people have the assumption that meal planning is tough and full of kitchen labor.
            On top of it, the internet is full of blogs and "experts" on meal prepping. It can be exhausting
            trying to find the perfect plan for your lifestyle AND also your budget. Especially trying
            to find food that you will ENJOY!

            Though,Meal prepping has been touted as a nutrition go-to by many fitness experts and nutritionists.
            AND if done right, meal prepping can not only help you <strong>SAVE MONEY</strong>, but it can also be the
            key to <strong>WEIGHT LOSS</strong>.
        </p>

        <h2>Meal Prepping Benefits</h2>
        <br />
        <p>

            The benefits of meal prepping range from lower food cost to time spent in the kitchen to lower stress
            and successful weight loss. If you take control of your diet and the foods you are eating, you are sure to be successful.
            Having a meal plan and food on hand will reduce your guilty hunger based decisions. When we are tired and hungry, we
            tend to grab the quickest thing, which most of the time is not healthy.

            If you want to save money, your sanity and live a healthy lifestyle, meal prepping is definitely for you!
        </p>

        <br />
        <br />

        <h2>Storage</h2>
        <br />
        <p>

            Before you start your wonderful meal plan, you should purchase the proper food storage. I absolutely LOVE my Pyrex Glass containers. And you can purcahse them here:
            <a href="https://www.amazon.com/Pyrex-Rectangle-Storage-Container-Containers/dp/B01BK3EV9G" target="_blank">Pyrex 3-Cup Glass Food Storage Set</a>

            <br />
            <br />

            Though a lot of people find that Ball Glass Mason Jars work great for Salads, because you can add all the ingredients (including dressing), and if you keep the lettuce at the top,
            the lettuce will still be crunchy and tasty at meal time! You can find the Ball Jars here:
            <a href="https://www.amazon.com/12-Ball-Mason-Jar-Lid/dp/B014V7RSE8" target=" =_blank">Ball Glass Masoon Jars</a>
        </p>
        <br />
        <br />

        <h2>Basics of Meal Prepping</h2>
        <br />
        <p>
            Once you have purchased your food storage, here are the next steps:

            <ol>
                <li>
                    You should calculate the calories you need to lose weight. You can do so here:<a href="https://www.niddk.nih.gov/bwp" target="_blank">Body Weight Planner</a>
                </li>
                <li>
                    And if you want to do some research, read<a href="https://www.trifectanutrition.com/blog/best-weight-loss-foods" target="_blank">this</a>
                    for the best foods on weight loss.
                </li>
            </ol>
        </p>
        <p>

            Next,<strong>Start Small</strong>. When I first began Meal tracking, I only made 1 Meal for lunches for Monday-Friday. As you get better, you can
            add on Breakfast prep and eventually dinner.

            Rembember,<strong>Sensible Portions</strong>. Portion control is key to weight loss, but it's also the key to a "healthier you". I would suggest buying a
            <a href="https://www.amazon.com/Etekcity-Digital-Kitchen-Multifunction-Removable/dp/B07JB2XRNT" target="_blank">Food Scale</a>
            <strong>AND Using this AMAZING MEAL TRACKER!</strong>

            Also, if you think you may not remember to add foods to your list or track your foods, keep a daily reminder on your phone. I for one have A LOT of daily reminders added to my phone.
            I have a tendency to forget. With the hustle and bustle of daily life, being a personal chauffer to your children, work, trying to remember to get your cardio in, remembering to breathe etc..
            daily reminders take one less stresser out of life.

        </p>
        <br />
        <br />
    </div>
    <div class="container col-md-4 cover">
        <h2>Enjoy the process!</h2>
        <p>

            In my opinion, breakfast can be challenging. Usually in the morning, we are always
            rushing to get out the door. For me, I am crazy and try to do a 5am workout before I have to rush out the door
            for my Super Cool Important Life. When I meal prep for breakfast, I like to either
            <br />
            A) make breakfast sandwiches and place them in the freezer
            wrapped in plastic wrap and in a sandwich baggie
            <br />
            <strong>OR</strong>
            <br />
            B) make overnight chia pudding (because who doesn't love pudding for breakfast!?).

            Planning dinners ahead of time is easy once you have learned how to plan lunches. I say, stick away from trying to plan dinners for at least the first 2-3 weeks.
            give your self time to get used to planning, shopping, cooking and properly storing your food before moving on to also planning/prepping dinners.
            For dinners, I LOVE to choose Slow Cooker Meals OR 30 minute dishes. If you have vegetables to chop
            for the meals, you can always chop them on Sunday and place them in the freezer. Then, the night before you need
            the veggies, take them out and put them in the freezer. Same goes with Meat. You can sometimes just add all the ingredients you need in to a baggie in the freezer,
            thaw it the night before and pop it in the slow cooker before you head out in the morning. It's super simple.. and as I like to say
            "Meal Prepping Dinner Saves Lives!.. well, atleast your sanity!"
        </p>
        <br />
        <h2>Enjoy your food!</h2>
        <br />
        <p>

            This brings me to my final point: <strong>Enjoyment of your food</strong>.
            Just because you meal plan and are working towards being a "healthier you", does not mean you
            have to sacrifice <strong>TASTINESS</strong>. I honestly believe just sticking away from preservatives and crazy things like
            High Fructose Corn Syrup, while eating a healthy diet, that includes Chocolate Cheesecake every now and again,
            IS THE WAY TO GO! You have probably heard it before, but:
            <br />
            <br />

            <strong> Moderation, Moderation, Moderation</strong>.

            <br />
            <br />

            Life is too short to NOT enjoy some chocolate cake! If you track your meals accordingly and
            DO NOT OVER EAT, you will notice a change in your mood, your waist line, your WALLET and your over all self. Well, do people
            carry wallets now and days with the ease of online banking ? Have they invented the money chip in your arm yet? If not,
            you could totally find the time to invent this technology by Meal Prepping! See What I did there!? HA! Ok, Ok, onwards to
            the point of this site: Meal Planning and Meal Tracking.

            So, I have created this site for the purpose of tracking your daily meals. Here, you can add your Meals (Breakfast/Lunch/Dinner/Snacks), Recipes associated with these meals
            AND even have a list of your FAVORITES. If you are like me, I love adding food to my favorites list! I especially LOVE FOOD! I mean, I do not know many people who don't love food.
            Anywho, remember:
            <br />
            <br />

            <ul>

                <li>Don't freak out!</li>
                <li>Start Small</li>
                <li>Daily Reminders</li>

            </ul>
        </p>
        <br />
        <p>
            <br />
            <br />
            <br />


            You can do this! And like Nike says: "Just Do It!"
            <br />
            <br />
            OR Like I SAY: "You can do EEEET!"


        </p>
        <br />
        <br />

    </div>
    <div class="col-md-4">
        <h2></h2>

    </div>
</div>