@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron Title">
    <h1>Meal Tracking</h1>

</div>

<div class=" row front-page" >
    <div class="container col-md-4 cover">
        <h2>Getting started with Meal Planning</h2>
        <p>
            If you are looking to eat healthy and save money, you <strong>NEED</strong> to try Meal Planning and Meal Tracking.
            Many people have the assumption that meal planning is tough and full of kitchen labor.
            On top of it, the internet is full of blogs and "experts" on meal prepping. It can be exhausting
            trying to find the perfect plan for your lifestyle AND also your budget. Especially trying
            to find food that you will ENJOY!

            <br />
            <br />

            To begin, Start small. When I first began Meal tracking, I only made 1 Meal for lunches for Monday-Friday. As you get better, you can 
            add on Breakfast prep and eventually dinner. 
            <br />
            
            In my opinion, breakfast can be challenging. Usually in the morning, we are always
            rushing to get out the door. For me, I am crazy and try to do a 5am workout before I have to rush out the door
            for my Super Cool Important Life. When I meal prep for breakfast, I like to either A) make breakfast sandwiches and place them in the freezer
            wrapped in plastic wrap and in a sandwich baggie or B) make overnight chia pudding (because who doesn't love pudding for breakfast!?).
            
            
            Planning dinners ahead of time is easy once you have learned how to plan lunches. I say, stick away from trying to plan dinners for at least the first 2-3 weeks.
            give your self time to get used to planning, shopping, cooking and properly storing your food before moving on to also planning/prepping dinners.
            For dinners, I LOVE to choose Slow Cooker Meals OR 30 minute dishes. If you have vegetables to chop
            for the meals, you can always chop them on Sunday and place them in the freezer. Then, the night before you need
            the veggies, take them out and put them in the freezer. Same goes with Meat. You can sometimes just add all the ingredients you need in to a baggie in the freezer,
            thaw it the night before and pop it in the slow cooker before you head out in the morning. It's super simple.. and as I like to say 
            "Meal Prepping Dinner Saves Lives!.. well, atleast your sanity!"

            <br />
            <br />

            Also, if you think you may not remember to add foods to your list or track your foods, keep a daily reminder on your phone. I for one have A LOT of daily reminders added to my phone.
            I have a tendency to forget. With the hustle and bustle of daily life, being a personal chauffer to your children, work, trying to remember to get your cardio in, remembering to breathe etc..
            daily reminders take one less stresser out of life.

            <br />
            <br />

            I know I mentioned it can be daunting trying to find recipes. That's why I will definitely be adding my Fave recipes, associated with their Websites. And I also added a link to my Pinterest
            for anyone who wants to check out my food pins.FYI, I have A TON!

            <br />
            <br />

            This brings me to my final point:<strong>Enjoyment of your food</strong>.
            Just because you meal plan and are working towards being a "healthier you", does not mean you
            have to sacrifice <strong>TASTINESS</strong>. I honestly believe just sticking away from preservatives and crazy things like
            High Fructose Corn Syrup, while eating a healthy diet, that includes Chocolate Cheesecake every now and again,
            IS THE WAY TO GO! You have probably heard it before, but:
            <br />
            <br />

            <strong> Moderation, Moderation, Moderation</strong>.

            <br />
            <br />



            Life is too short to NOT enjoy some chocolate cake! If you track your meals accordingly and
            DO NOT OVER EAT, you will notice a change in your mood, your waist line, your WALLET and your over all self. Well, do people
            carry wallets now and days with the ease of online banking ? Have they invented the money chip in your arm yet? If not,
            you could totally find the time to invent this technology by Meal Prepping! See What I did there!? HA! Ok, Ok, onwards to
            the point of this site: Meal Planning and Meal Tracking.

            <br />

            So, I have created this site for the purpose of tracking your daily meals. Here, you can add your Meals (Breakfast/Lunch/Dinner/Snacks), Recipes associated with these meals
            AND even have a list of your FAVORITES. If you are like me, I love adding food to my favorites list! I especially LOVE FOOD! I mean, I do not know many people who don't love food.
            Anywho, remember:
            <br />
            <br />

            <ul>
              <strong><li>Don't freak out!</li>
                <li>Start Small</li>
                <li>Daily Reminders</li></strong>
            </ul>

            <br />

            BELOW You will find some Recipes and pictures to help you along your wellness journey. I truly am rooting for you and hoping
            this site can help you stay sane during the process!

            You can do this! And like Nike says: "Just Do It!"





        </p>

    </div>
    <div class="container col-md-4 cover1">
        <h2>
            Ideas for Healthy Recipes
        </h2>
        <p>
            Ok, I know this is supposed to "Healthy" Recipes, but like I said before, you can totally have cheesecake or brownies in your healthy meal plan. And if you like, you can make 
            extremely yummy brownie bites or cakes, that have no dairy/eggs/refined sugar. But, if you choose to do the traditional route, that IS FINE TOO! So, I am just going to throw these at you.
            Well, not "throw", because we have not invented the ability to throw stuff at humans via a website yet. Again, something you could totally invent with all the amazing time you will be saving 
            when you Meal Prep and Meal Track! I swear, I crack myself up!
        </p>

    </div>
    <div class="col-md-4">
        <h2></h2>

    </div>
</div>