@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meal Tracking</h1>

</div>

<div class="row front-page" >
    <div class="col-md-4">
        <h2>Getting started with Meal Planning</h2>
        <p>
            If you are looking to eat healthy and save money, you <strong>NEED</strong> to try Meal Planning and Meal Tracking.
            Many people have the assumption that meal planning is tough and full of kitchen labor.
            On top of it, the internet is full of blogs and "experts" on meal prepping. It can be exhausting
            trying to find the perfect plan for your lifestyle AND also your budget. Especially trying
            to find food that you will ENJOY!

            <br />
            <br />

            Start small. When I first began Meal tracking, I only made 1 Meal for lunches for Monday-Friday. As you get better,
            you can add on dinners. For dinners, I LOVE to choose Slow Cooker Meals OR 30 minute dishes. If you have vegetables to chop
            for the meals, you can always chop them on Sunday and place them in the freezer. Then, the night before you need
            the veggies, take them out and put them in the freezer. Same goes with Meat.

            <br />
            <br />

            Also, if you think you may not remember to add foods to your list or track your foods, keep a daily reminder on your phone. I for one have A LOT of daily reminders added to my phone.
            I have a tendency to forget. With the hustle and bustle of daily life, being a personal chauffer to your children, work, trying to remember to get your cardio in, remembering to breathe etc..
            daily reminders take one less stresser out of life.

            <br />
            <br />

            I know I mentioned it can be daunting trying to find recipes. That's why I will definitely be adding my Fave recipes, associated with their Websites. And I also added a link to my Pinterest
            for anyone who wants to check out my food pins.FYI, I have A TON!

            <br />
            <br />

            This brings me to another point: Enjoyment of your food.
            Just because you meal plan and are working towards being a "healthier you", does not mean you
            have to sacrifice <strong>TASTINESS</strong>. I honestly believe just sticking away from preservatives and crazy things like
            High Fructose Corn Syrup, while eating a healthy diet, that includes Chocolate Cheesecake every now and again,
            IS THE WAY TO GO! You have probably heard it before, but:
            <br />
            <br />

            <strong> Moderation, Moderation, Moderation</strong>.

            <br />
            <br />



            Life is too short to NOT enjoy some chocolate cake. If you track your meals accordingly and
            DO NOT OVER EAT, you will notice a change in your mood, your waist line, your over all self AND YOUR WALLET. Well, do people
            carry wallets now and days with the ease of online banking ? Have they invented the money chip in your arm yet? If not,
            you could totally find the time to invent this technology by Meal Prepping! See What I did there!? HA! Ok, Ok, onwards to
            the point of this site: Meal Planning and Meal Tracking.

            So, I have created this site for the purpose of tracking your daily meals. Here, you can add your Meals (Breakfast/Lunch/Dinner/Snacks), Recipes associated with these meals
            AND even have a list of your FAVORITES. If you are like me, I love adding food to my favorites list! I especially LOVE FOOD! I mean, I do not know many people who don't love food.
            Anywho, remember:
            <br />
            <br />

            <ul>
                <li>Don't freak out!</li>
                <li>Start Small</li>
                <li>Daily Reminders</li>
            </ul>





        </p>

    </div>
    <div class="col-md-4">
        <h2>
            Ideas for Healthy Recipes
        </h2>

    </div>
    <div class="col-md-4">
        <h2></h2>

    </div>
</div>