@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.google.com/specimen/Satisfy?selection.family=Satisfy')
/* Set padding to keep content from hitting the edges */

body-content {
    padding-left: 25px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    // max-width: 280px;
}

body {
    font-family: "Indie Flower", Indie Flower, cursive;
    color: black;
    background: url('/Content/Assets/appetizer-bowls-cuisine-1640770.jpg');
}

.cover a {
    color: hotpink;

}

.jumbotron {
    color: black;
    font-family: "Satisfy";
    background-color: transparent;
}

h2 {
    font-family: "Satisfy";
    font-size: 40px;
    color: aqua;
}

h1 {
    font-family: "Indie Flower", Indie Flower, cursive;
    font-size: 112px;
    padding: 40px 295px;
    font-weight: 500;
}

.navbar a {
    color: blueviolet;
    font-size: 25px;
    margin-left: 50px;
    margin-top: -10px;
}


.navbar {
    font-size: 22px;
    margin-right: 90px;
    background: rgba(245,245, 245, 1.5);
    width: 100vw;
}

#loginLink {
    padding-left: 30px;
}

.jumbotron h1 {
    font-size: 100px;
    padding-top: 125px;
    padding-left: 165px;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
}

.jumbotron {
    // background: url('/Content/Assets/Food-Free-Meal-Plan.jpg');
}

.cover {
    width: 100%;
    // background: rgba(245,245,245, .2);
    background: url('/Content/Assets/Black-white-chalkboard.jpg');
}

.cover ol {
    color: antiquewhite;
    font-size: 20px;
}
.cover ul{
    color: antiquewhite;
    font-size: 20px;
}


.create {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 250px;
    margin-left: 275px;
}

.form-control {
    font-size: 14px;
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.43;
    color: #555;
    background-color: antiquewhite;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mealName {
    font-size: 20px;
    font-weight: 100;
}

.mealDescription {
    font-size: 20px;
    font-weight: 100;
}

.createButton {
    color: #333;
    background-color: ghostwhite;
    border-color: #ccc;
    font-size: 20px;
    padding: 6px 12px;
    font-weight: 100;
    line-height: 1.423;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn {
    margin-bottom: 30px;
    margin-left: 140px;
}




.cover p {
    font-size: 25px;
    color: antiquewhite;
}

#Login {
    font-size: 20px;
}
.title h2 {
    color: black;
}
.table th {
    font-size: 25px;
}
.table td {
    font-size: 18px;
}
.mealIndex {
    background: url('/Content/Assets/Black-white-chalkboard.jpg');
    margin-top: 20px:
}

.mealIndex p {
    font-size: 20px;
    color: antiquewhite;
}
.mealIndex ol{
    font-size: 25px;
    color: indianred;
}

.MealIndexHeader h2{
    color: black;


}

.mealIndex h3 {
    color:indianred ;
    font-size: 25px;
}
.mealIndex a{
    font-size: 20px;
    color: hotpink;
}
#protein {
    margin-top: 20px;
    margin-left: 240px;
}
.table td {
    font-size: 25px;
}

.mealHeader h4 {
    font-size: 30px;
}
.mealEditHeader h2 {
    color: black;
    margin-top: 200px;
}

.mealNameEdit {
    font-size: 20px;
}
.mealDescriptionEdit{
    font-size: 20px;
}

.editMeal {
    background: url('/Content/Assets/Black-white-chalkboard.jpg');

}

.mealEdit p {
    margin: 20px;
    font-size: 40px;
    color:antiquewhite;
}
.mealEditSubmit {
    font-size:25px;

}





