@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.google.com/specimen/Satisfy?selection.family=Satisfy')
/* Set padding to keep content from hitting the edges */
body-content {
    padding-left: 25px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  //  max-width: 280px;
}

body {
    font-family: "Indie Flower", Indie Flower, cursive;
    color: black;
    background-image: url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    
   
}

.jumbotron  {
    color: black;
    font-family: "Satisfy";
    background-color: transparent;
}

h2 {
    font-family:"Satisfy";
    font-size: 40px;

}

h1 {
    font-family: "Indie Flower", Indie Flower, cursive;
    font-size: 112px;
   padding: 40px 295px;
   font-weight: 550;
}
a {
    color: blueviolet;
}


.navbar {
    font-size: 22px;
    margin-right: 90px;
    background: rgba(255, 255, 255, 0.3);
    width: 100vw;
}

#loginLink {
    padding-left: 30px;
}
.jumbotron h1{
    font-size: 100px;
    padding-top: 150px;
    padding-left: 175px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;

}
.cover {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    

}

.create {
    background: rgba(255, 255, 255, 0.5);
    
}

.cover p {
    font-size: 20px;
}

.cover1 {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.cover1 p{
    font-size: 20px;
    width: 50%;

}




